<%= error_messages_for(@profile) %>

<div class="form-group">
	<%= f.label :first_name, "First Name" %>
	<%= f.text_field :first_name, class: 'form-control', placeholder: "First name", required: true %>
</div>
<div class="form-group">
	<%= f.label :last_name, "Last Name" %>
	<%= f.text_field :last_name, class: 'form-control', placeholder: "Last name", required: true %>
</div>
<div class="form-group">
	<%= f.label :industry, "Industry" %>
	<%= f.select :industry, @industries, {}, {class: 'form-control'} %>
</div>
<div class="form-group">
	<%= f.label :career_details, "Job Description" %>
	<%= f.text_area :career_details, class: 'form-control', placeholder: "Description" %>
</div>
<div class="form-group">
	<%= f.label :class_year, "Class Year" %>
	<%= f.text_field :class_year, class: 'form-control', placeholder: "yyyy" %>
</div>
<div class="form-group">
	<%= f.label :residence_city, "City" %>
	<%= f.text_field :residence_city, class: 'form-control', placeholder: "City of residence" %>
</div>
<div class="form-group">
	<%= f.label :residence_state, "State" %>
	<%= f.select :residence_state, @states, {}, {class: 'form-control'}%>
</div>
<div class="form-group">
	<%= f.label :residence_country, "Country" %>
	<%= f.text_field :residence_country, class: 'form-control', placeholder: "Country of residence" %>
</div>
<div class="form-group">
	<%= f.label :bio, "Personal Bio" %>
	<%= f.text_area :bio, class: 'form-control', placeholder: "Share a little about yourself" %>
</div>
<div class="form-group">
	<%= f.label :avatar, "Profile Picture" %>
	<%= f.file_field(:avatar) %>
</div>