<table class="table table-condensed table-hover" summary="Profile list">
		<tr class="header">
			<th><%= sortable "last_name", "Name" %></th>
			<th><%= sortable "industry", "Industry" %></th>
			<th><%= sortable "class_year", "Class Year" %></th>
			<th><%= sortable "residence_city", "Location" %></th>
			<th>Email Address</th>
			<th><%= sortable "updated_at", "Last Updated" %></th>
			<th></th>				
		</tr>
		<% @profiles.each do |profile| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= profile.first_name + " " + profile.last_name %></td>
			<td><%= profile.industry %></td>
			<td><%= profile.class_year %></td>			
			<td class="center"><%= profile.residence_city %><%= ", " if !profile.residence_state.blank? %>
								<%= profile.residence_state %></td>
			<td class="center"><%= profile.email %></td>
			<td class="center"><%= profile.updated_at.to_time.strftime('%B %e, %Y') %></td>			
			<td class="actions">
				<%= link_to("View", {:action => 'show', :id => profile.id}, :class => 'btn btn-primary') %>
			</td>
		</tr>
		<% end %>
	</table>