<div class"profiles index">
	<h2 class="profile-title">Profiles</h2>
		<%= form_tag({:action => 'search'}, class: 'form-inline profile-search-bar') do %>
		<div class="form-group">
	  	<%= label_tag(:q, "Profiles") %>
	  	<%= text_field_tag(:q, nil, class: 'form-control', placeholder: "Search") %>
	  	<%= submit_tag("Search", :class => "btn btn-default") %>
	  	</div>
	<% end %>
	<table class="table table-condensed table-hover">
		<tr class="header">
			<th>Name</th>
			<th>Industry</th>
			<th>Class Year</th>
			<th>Location</th>
			<th>Country</th>
			<th>Email Address</th>
			<th>Last Update</th>
			<th>Profile</th>				
		</tr>
		<% @profiles.each do |profile| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= profile.first_name + " " + profile.last_name %></td>
			<td><%= profile.industry %></td>
			<td><%= profile.class_year %></td>			
			<td class="center"><%= profile.residence_city %><%= ", " if !profile.residence_state.blank? %>
								<%= profile.residence_state %></td>
			<td class="center"><%= profile.residence_country %></td>			   	
			<td class="center"><%= profile.email %></td>
			<td class="center"><%= profile.updated_at.to_formatted_s(:short) %></td>			
			<td class="actions">
				<%= link_to("View", {:action => 'show', :id => profile.id}, :class => 'btn btn-primary') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
