	<div class="col-md-4">
		<h2><%= @profile.first_name + " " + @profile.last_name %></h2>
		<div class="avatar">
			<%= image_tag @profile.avatar.url(:square) %>
		</div>
		<br>
		<table class="table profile-table">
			<h3>Contact Information</h3>
			<tr><th>Email Address:</th></tr>
			<tr><td><%= @profile.email %></td></tr>
			<tr><th>Last Update:</th></tr>
			<tr><td><%= @profile.updated_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></td></tr>
		</table>
		<div class="connect-bar">
			<% if !@profile.linkedin_link.blank? || !@profile.facebook_link.blank? %>
			<%= mail_to @profile.email, image_tag('email-icon.png', :alt => 'mail') %>
				<% if !@profile.linkedin_link.blank?%>
					<%= link_to image_tag('linkedin-icon.png', :alt => 'linkedin'), @profile.linkedin_link %>
				<% end %>
				<% if !@profile.facebook_link.blank?%>
					<%= link_to image_tag('facebook-icon.png', :alt => 'facebook'), @profile.facebook_link %>
				<% end %>
			<% end %>
		</div>
		<% if !@user.blank? && @profile.user_id == @user.id %>
			<%= link_to "Edit Profile", {:action => 'edit', :id => @profile.id}, class: "btn btn-default" %>
		<% end %>
	</div>

	<div class="col-md-8">
		<div class="row">
			<h3 class="table-title">Personal Information</h3>
			<table class="table profile-table">
			<tr>
				<th>Class Year</th>
					<td><%= @profile.class_year %></td>
				</tr>
				<% if !@profile.college_major_minor.blank? %>
					<th>Major/Minor</th>
						<td><%= @profile.college_major_minor %></td>
					</tr>
				<% end %>
				<tr>
					<th>Location</th>
					<td><%= @profile.residence_city %><%= ", " if !@profile.residence_state.blank? %>
						<%= @profile.residence_state %></td>
				</tr>
				<% if !@profile.residence_country.blank? %>
					<tr>
						<th>Country</th>
						<td><%=	@profile.residence_country %></td>
					</tr>
				<% end %>
			</table>
			<div class="profile-text-area-heading">
				<strong>Biography</strong>
			</div>
			<%=	simple_format(@profile.bio) %>
		</div>
		<br>
		<div class="row">
			<h3 class="table-title">Professional Details</h3>
			<table class="table profile-table">
				<% if !@profile.advanced_degrees.blank? %>
					<tr>
					<th>Advanced Degree</th>
						<td><%= @profile.advanced_degrees %></td>
					</tr>
				<% end %>
				<tr>
				<th>Industry/Field</th>
					<td><%= @profile.industry %></td>
				</tr>
				<% if !@profile.company_name.blank? %>
					<tr>
					<th>Company/Organization</th>
						<td><%= @profile.company_name %></td>
					</tr>
				<% end %>
			</table>
			<div class="profile-text-area-heading">
				<strong>Job Description</strong>
			</div>
				<%= simple_format(@profile.career_details) %>
	</div>
	
	<div class="col-md-4">
	</div>
