<% @page_title = "#{@profile.first_name} #{@profile.last_name}" %>

<% if !@user.blank? && @profile.user_id == @user.id %>
	<%= link_to("<< Main Menu", {:controller => 'access', :action => 'index'}, :class => 'back-link') %>
<% end %>
<br>
<br>
<%= link_to("<< Back to Network", {:action => 'index'}, :class => 'back-link') %>

<div class="profiles show">
	<h2><%= @profile.first_name + " " + @profile.last_name %></h2>

	<table summary="Profile detailed view">
		<tr>
			<th>Name</th>
			<td><%= @profile.first_name + " " + @profile.last_name %></td>
		</tr>
		<tr>
			<th>Industry</th>
			<td><%= @profile.industry %></td>
		</tr>
		<tr>
			<th>Class Year</th>
			<td><%= @profile.class_year %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= @profile.residence_city + ", " + 
					@profile.residence_state %></td>
		</tr>
		<tr>
			<th>Country</th>
			<td><%=	@profile.residence_country %></td>
		</tr>
		<tr>
			<th>Email Address</th>
			<td><%= @profile.email %></td>
		</tr>
		<tr>
			<th>Last Update</th>
			<td><%= @profile.updated_at %></td>
		</tr>
	</table>
	<br>
	<div>
		<% if !@user.blank? && @profile.user_id == @user.id %>
			<%= link_to("Edit Profile", {:action => 'edit', :id => @profile.id}) %>
		<% end %>
	</div>
</div>
