<%= error_messages_for(@user) %>

<div class="form-group">
	<%= f.label :email, "Email Address" %>
	<%= f.text_field :email, class: 'form-control', placeholder: "Enter email", required: true %>
 </div>

<div class="form-group">
	<% if @user.blank? %>
		<%= f.label :password, "New Password" %>
	<% else %>
		<%= f.label :password, "Password" %>
	<% end %>
	<%= f.password_field :password, class: 'form-control', placeholder: "Enter password", required: true %>
 </div>

 <div class="form-group">
	<%= f.label :password_confirmation, "Confirm Password" %>
	<%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Re-enter password", required: true %>
 </div>