<!DOCTYPE html>
<html>
	<head>
	  <title>Sigep Network</title>
	  	<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= favicon_link_tag 'crest.ico' %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div id="wrap">
			<div id="main" class="container">
				<% if !flash[:notice].blank? %>
					<div class="<%= "alert " + flash[:status] %>" >
					<%= flash[:notice] %>	
					</div>
				<% end %>
				
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>	
		<%= render 'layouts/footer' %>
	</body>
</html>
